<div class="container">
  <h1>{{title}}</h1>
  <div class="success" *ngIf="status == 'success'">
    El proyecto se ha creado correctamente
  </div>
  <div class="failed" *ngIf="status == 'failed'">
    No se ha creado nada
  </div>
  <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
    <p>
      <label for="name">Nombre</label>
      <input type="text" name="name" #name="ngModel" [(ngModel)]="project.name" required>
      <span *ngIf="name.touched && !name.valid">
        El nombre es obligatorio
      </span>
    </p>
    <p>
      <label for="description">Descripción</label>
      <input required type="text" name="description" #description="ngModel" [(ngModel)]="project.description">
      <span *ngIf="description.touched && !description.valid">
        La descripción es obligatoria
      </span>
    </p>
    <p>
      <label for="year">Año</label>
      <input required type="number" name="year" #year="ngModel" [(ngModel)]="project.year">
      <span *ngIf="year.touched && !year.valid">
        El Año es obligatorio
      </span>
    </p>
    <p>
      <label for="director">director</label>
      <input type="name" name="director" #director="ngModel" [(ngModel)]="project.director">
    </p>
    <p>
      <label for="star">star</label>
      <input type="name" name="star" #star="ngModel" [(ngModel)]="project.star">
    </p>
    <div>
      <label for="image">Imágen</label>
      <input type="url" required [(ngModel)]="project.alt_img" name="img">
    </div>
    <input type="submit" value="Enviar" [disabled]="!projectForm.form.valid">
  </form>
</div>
