:host {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  &.loaded {
   opacity: 1;
    /* Estilos para el componente cuando la página se ha cargado completamente */
  }
}

.container {
  height: calc(100vh - 4.5rem);
  overflow-y: auto;
}

.projects {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}

.project-item {
  width: 20%;

  & a {
    text-decoration: none;
    color: #333;
  }

  &__name {
    font-size: 1.2rem;
  }
}
